<footer class="site-footer bg--primary color--light">
  <div class="container">
    <div class="site-footer__copyright text--center">
      <ul class="site-footer__links nav__list list--unstyled spacing--sm" role="list">
        {% for network,link in meta.author.networks %}
          <li class="nav__element"><a href="{{ link }}" class="site-footer__link nav__link" aria-label="Ir a mi {{ network }}">{{ network }}</a></li>
        {% endfor %}
      </ul>
      <p class="spacing--sm site-footer__disclaimer"><strong>©2020 / Antonio Laguna</strong></p>
      <p class="font--small">Sitio creado con ❤️, ☕️, <a href="https://www.11ty.dev/">Eleventy</a> y alojado en <a href="https://netlify.com">Netlify</a> con código fuente público en <a href="https://github.com/LagunasPris/antonio-laguna" aria-label="Ir al repositorio de este blog">Github</a>.</p>
    </div>
  </div>
</footer>
