html {
  box-sizing: border-box;
  font-family: $font-body;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: $primary;
  color: $light;
}

.site-content {
  flex-grow: 1;
  padding-bottom: spacing(lg);
  position: relative;
}

body {
  background-color: $body;
  display: flex;
  flex-direction: column;
}

a:focus,
button:focus {
  outline: 1px solid $secondary;
  outline-offset: .4rem;
}

img,
video {
  display: block;
  max-width: 100%;
}
