$dark: #333;
$primary: #003049;
$secondary: #dc7202;
$secondary-dark: #fd8303;
$tertiary: #fcbf49;
$alt: #e5e5e5;
$light: #fff;
$dark-bg: #001a27;
$callout: #f3fbff;
$dark-callout: #00486b;

$spacings: (
  xs: 1rem,
  sm: 2rem,
  md: 3rem,
  lg: 5rem,
  xl: 8rem
);

$font-body: 'Fira Sans', sans-serif;
$font-code: 'Fira Code', monospace;
$grid-outside: 10px;

$min-width: 320px;
$max-width: 1080px;
$screen: 100vw;

$levels: (
  1: (4.8rem, 6.7rem),
  2: (4rem, 5.4rem),
  3: (3.3rem, 4.3rem),
  4: (3rem, 3.4rem),
  5: (2.3rem, 2.8rem),
  6: (1.4rem, 1.9rem)
);

$breakpoints: (
  'mobile': 684px,
  'tablet': 1024px,
  'desktop': 1365px
) !default;
