---
templateClass: template--post
---
{% import 'macros/duration.njk' as duration %}
{% import 'macros/icons.njk' as icons %}

{% extends "layouts/base.njk" %}

{% block extraHead %}
  {%- set pageDate = page.date | sitemapDateTimeString -%}
  {%- set lastModifiedDate = page.inputPath | lastModifiedDate | sitemapDateTimeString -%}
  {%- set lastmod = lastModifiedDate -%}
  {%- if pageDate > lastmod -%}
    {%- set lastmod = pageDate -%}
  {%- endif -%}
  {%- if lastModifiedDate > lastmod -%}
    {%- set lastmod = lastModifiedDate -%}
  {%- endif -%}
  <meta property="article:published_time" content="{{ page.date | htmlDateString }}" />
  {% if lastmod > pageDate %}<meta property="article:modified_time" content="{{ lastmod }}" />{% endif %}
  {% for tag in tags %}{% if tag != 'posts' %}<meta property="article:tag" content="{{ tag }}" />{% endif %}{% endfor %}

  <meta name="twitter:label1" content="Tiempo de lectura" />
  <meta name="twitter:data1" content="{{ duration.render(content, false, '') | trim}}" />
  <meta name="twitter:label2" content="Etiquetado en" />
  <meta name="twitter:data2" content="{% for tag in tags %}{% if tag != 'posts' %}{{ tag }}{% if not loop.last %},{% endif %}{% endif %}{% endfor %}" />
{% endblock %}

{% block article %}
  <div class="container">
    <article class="article">
      <header class="article__header spacing--sm">
      <header class="article__header display--flex flex--wrap flex--v-center spacing--sm">
        <div class="article__intro">
          <h1 class="article__title leading--small text-level--2">{{ title }}</h1>
          <section class="article__summary text-level--5 font--italic color--primary" aria-label="Corto resumen">
            <p>{{ description }}</p>
          </section>
        </div>
        <div class="article__info">
          <dl class="article__meta font--mono">
            <dt class="article__meta__title">
              <span class="visually-hidden">Fecha de publicación</span>
              {{ icons.calendar() }}
            </dt>
            <dd class="article__meta__value text--capitalize"><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></dd>
            <dt class="article__meta__title">
              <span class="visually-hidden">Tiempo de Lectura</span>
              {{ icons.time() }}
            </dt>
            <dd class="article__meta__value">{{ duration.render(content) | trim }}</dd>
            {% if tags %}
              <dt class="article__meta__title">
                <span class="visually-hidden">Etiquetas</span>
                {{ icons.tag() }}
              </dt>
              <dd class="article__meta__value">
                <ul role="list" class="article__tags spacing--none display--flex flex--wrap">
                  {% for tag in tags %}
                    {% if tag != 'posts' %}
                    <li><a class="article__tag" href="/tag/{{ tag | slug }}" title="Descubre más artículos etiquetados en {{ tag }}">{{ tag }}</a></li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </dd>
            {% endif %}
          </dl>
        </div>
      </header>

      <div class="article__body display--flex spacing--xl">
        {% if enableToc %}
          {{ content | toc | safe }}
        {% endif %}
        <div class="article__content ugc text-level--5">
          {{ content | safe }}
        </div>
      </div>

      <footer class="article__footer display--flex">
        <p>Publicado el {{ page.date | readableDate }}</p>
        <p><a href="{{ page.inputPath | ghPath }}">Ver en GitHub</a></p>
      </footer>
    </article>
  </div>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ title }}",
  "image": [],
  "author": "{{ meta.author.name }}",
  "genre": "{{ meta.genre }}",
  "publisher": {
    "@type": "Person",
    "@id": "#siteOwner"
  },
  "url": "{{ meta.url }}{{ canonicalUrl or page.url }}",
  "mainEntityOfPage": "{{ meta.url }}{{ canonicalUrl or page.url }}",
  "datePublished": "{{ page.date | htmlDateString }}",
  "dateModified": "{{ page.inputPath | lastModifiedDate  | htmlDateString }}",
  "description": "{{ content | striptags | truncate(140) }}"
}
</script>
{% endblock %}
