.bg--primary {
  background-color: var(--color-primary);
}

.color--light {
  color: #fff;
}

.color--primary {
  color: var(--color-selection);
}

.color--secondary {
  color: var(--color-accent);
}
