.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.display--flex {
  display: flex;
}

.display--block {
  display: block;
}

.display--inline-flex {
  display: inline-flex;
}

.text--lower {
  text-transform: lowercase;
}

.text--upper {
  text-transform: uppercase;
}

.text--capitalize {
  text-transform: capitalize;
}

.flex--wrap {
  flex-wrap: wrap;
}

.flex--v-center {
  align-items: center;
}

.hide {
  display: none !important;
}

.hide--sm {
  @media (--viewport-sm-only) {
    display: none !important;
  }
}

.hide--md {
  @media (--viewport-md) {
    display: none !important;
  }
}
