---
title: '404'
permalink: /404.html
templateClass: 404-page
---

{% extends "layouts/base.njk" %}

{% block extraHead %}
<style>
  .not-found__image {
    bottom: 0;
    position: absolute;
    left: 50%;
    margin-left: -110px;
  }

  .not-found__title {
    color: var(--color-background);
    letter-spacing: .2em;
    text-shadow: 2px 2px 0 var(--color-text), 2px -2px 0 var(--color-text), -2px 2px 0 var(--color-text), -2px -2px 0 var(--color-text), 2px 0 0 var(--color-text), 0 2px 0 var(--color-text), -2px 0 0 var(--color-text), 0 -2px 0 var(--color-text);
  }

  .site-content {
    padding-bottom: 213px;
  }
</style>
{% endblock %}

{% block article %}
  <div class="container">
    <div class="text--center spacing--md">
      <h1 class="not-found__title text-level--1">404</h1>
      <p>Creo que te has perdido...</p>
      <p>Volver a <a href="/">inicio</a>.</p>
    </div>
  </div>

  <img class="not-found__image" src="https://res.cloudinary.com/antonio-laguna/image/upload/v1624254488/antonio.laguna/404_t6xpof.gif" alt="" width="220" height="213" />
{% endblock %}

{% block afterAnalytics %}
  <script>plausible('404',{ props: { path: document.location.pathname } });</script>
{% endblock %}
