---
title: Fragmentos
description: 'Descubre breves fragmentos de CSS, JavaScript, HTML y amigos que te enseñan algo que me ha ayudado en el día a día y no quiero olvidar.'
socialDescription: ' '
permalink: /snippets/
---

{% extends 'layouts/snippets.njk' %}
