---
pagination:
  data: collections
  size: 1
  alias: tag
  addAllPagesToCollections: false
  filter:
    - posts
    - all
    - Guia React
eleventyComputed:
  title: "Artículos etiquetados con {{ tag }}"
  description: "Todos mis artículos etiquetados en {{ tag }} hasta la fecha."
permalink: "/tag/{{ tag | slug }}/"
sitemapFrequency: 'weekly'
sitemapIgnore: true
---

{% set templateClass %}tag tag-{{ tag | slug }}{% endset %}

{% extends 'layouts/archive.njk' %}

{% block postList %}
  {% set posts = collections[tag] | published | reverse %}
  {% include "components/postlist.njk" %}
{% endblock %}
