.article {
  &__tag {
    margin: .25rem;
  }

  &__info {
    margin-top: var(--spacing-xl);
    width: 100%;

    @media (--viewport-lg) {
      margin-top: 0;
      padding-left: var(--spacing-md);
      width: 48%;
    }
  }

  &__intro {
    position: relative;
    width: 100%;

    @media (--viewport-lg) {
      padding-right: var(--spacing-lg);
      width: 52%;
    }

    &::after {
      background-color: var(--color-secondary);
      bottom: calc(var(--spacing-md) * -1);
      content: '';
      height: .0625rem;
      left: var(--spacing-lg);
      position: absolute;
      right: var(--spacing-lg);

      @media (--viewport-lg) {
        height: auto;
        left: auto;
        right: 0;
        top: calc(var(--spacing-md) * -1);
        width: .0625rem;
      }
    }
  }

  &__title {
    margin: 0;
  }

  &__summary {
    line-height: 1.3;
    margin-top: 1rem;
  }

  &__meta {
    display: grid;
    grid-gap: 1.25rem .625rem;
    grid-template-columns: 1.5rem minmax(0, 1fr);
    position: relative;

    .svg-icon {
      color: var(--color-secondary);
    }
  }

  &__content {
    margin: 0 auto;
    overflow: auto;
    width: 100%;

    @media (--viewport-lg) {
      margin: 0;
      padding-right: var(--spacing-sm);
    }

    figure {
      padding-left: 1rem;
      padding-right: 1rem;

      img {
        border-radius: .5rem;
        box-shadow: 0 0 1rem var(--color-shadow);
        margin: 0 auto;
      }

      figcaption {
        font-size: .8em;
        margin-top: .3125rem;
        text-align: center;
      }
    }

    p video {
      margin: 0 auto;
    }
  }

  &__footer {
    font-size: 1rem;
    justify-content: space-between;
  }

  &__body {
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: var(--spacing-xl);

    @media (--viewport-lg) {
      flex-wrap: nowrap;
    }
  }

  .twitter-tweet {
    margin: 0 auto;
    max-width: 28.125rem;
  }

  .callout {
    background-color: var(--color-callout);
    border-left: .25rem solid var(--color-selection);
    border-radius: 0 .625rem .625rem 0;
    margin: 3.125rem 0 3.125rem 1.25rem;
    padding: 1.25rem;
    position: relative;

    p {
      font-size: .8em;
    }

    &__title {
      font-size: .9em;
      font-weight: 600;
    }

    &__icon {
      background-color: var(--color-selection);
      border-radius: 50%;
      display: inline-flex;
      font-size: .875rem;
      height: 2.25rem;
      justify-content: center;
      left: -1.25rem;
      position: absolute;
      top: -1rem;
      width: 2.25rem;
    }
  }

  &__suggested-list {
    margin-top: var(--spacing-lg);
    overflow: hidden;

    ul {
      flex-wrap: wrap;
      margin-left: -1rem;
      margin-right: -1rem;

      @media (--viewport-lg) {
        flex-wrap: nowrap;
      }
    }
  }

  &__suggested {
    display: flex;
    margin: .5rem 1rem;
    width: 100%;

    @media (--viewport-lg) {
      width: calc(50% - 2rem);
    }

    span {
      display: block;
      font-size: .875rem;
      font-weight: 400;
      margin-bottom: .375rem;
      text-transform: uppercase;
    }

    @media (--viewport-lg) {
      &:first-child {
        text-align: right;
      }
    }

    .suggested__link {
      background-color: var(--color-callout);
      border-radius: .375rem;
      flex-grow: 1;
      font-weight: bold;
      padding: 1.5rem;
      text-decoration: none;
      transition: color .123s, background-color .123s;

      &:hover,
      &:focus {
        background-color: #023e63;
        color: var(--color-secondary-dark);
      }
    }
  }

  .demo {
    margin: 2rem 0;

    &__buttons {
      display: flex;
      flex-wrap: wrap;
      gap: .75rem;
      justify-content: center;
      margin-top: 1.5rem;
    }
  }
}
