.color-scheme-toggler {
  appearance: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  margin-left: .375rem;
  padding: 0;
  transition: text-shadow .3s;
  width: 2.8125rem;

  &__icon--light {
    display: none;
  }

  &:hover {
    text-shadow: 0 0 .375rem var(--color-text);
  }
}

[data-theme='dark'] {
  .color-scheme-toggler__icon--light {
    display: block;
  }
}
