.course-list {
  margin: var(--spacing-md) auto var(--spacing-lg);
  max-width: 96rem;

  @media (--viewport-md) {
    margin: var(--spacing-xl) auto;
    padding: 0 1.6rem;
  }
}

.course-card {
  border-radius: .8rem;
  display: block;
  overflow: hidden;
  padding: 3.2rem;
  position: relative;

  &,
  &:hover {
    text-decoration: none;
  }

  svg {
    animation: rotate 5s linear infinite;
    animation-play-state: paused;
    height: 12rem;
    width: 12rem;
  }

  .card__icon {
    color: rgba(255, 255, 255, .3);
    position: absolute;
    right: -6rem;
    top: -6rem;
    transform-origin: center center;
    transition: transform .35s ease-in-out, color .35s ease-in-out;
  }

  &:hover,
  &:focus {
    .card__icon {
      color: var(--color-react);
      transform: translate3d(-1rem, 1rem, 0);
    }

    svg {
      animation-play-state: running;
    }
  }
}

.course {
  &__details {
    display: flex;
    flex-wrap: wrap;

    @media (--viewport-lg) {
      flex-wrap: nowrap;
    }
  }

  &__description {
    margin: var(--spacing-md) auto 0;
    order: 1;
    text-align: center;
    width: 100%;

    @media (--viewport-lg) {
      margin: 0;
      order: initial;
      text-align: left;
      width: auto;
    }
  }

  &__illustration {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 40rem;
  }

  &__lessons {
    counter-reset: course;
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;

    .lesson__wrapper {
      margin-bottom: var(--spacing-sm);
      padding: 0 1rem;
      position: relative;
      width: 100%;

      @media (--viewport-md) {
        width: 50%;
      }

      @media (--viewport-lg) {
        width: 33.33%;
      }
    }
  }

  &__lesson {
    border-radius: .8rem;
    flex-direction: column;
    justify-content: space-between;
    padding: 3.2rem 3.2rem 1rem;
    position: relative;
    z-index: 1;

    a {
      text-decoration: none;
    }
  }

  &__links {
    padding-top: 1rem;
    position: relative;

    &::after {
      background-color: var(--color-background);
      content: '';
      height: 2px;
      inset: 0 -3.2rem auto;
      position: absolute;
    }

    ul {
      justify-content: center;
      margin-left: -1rem;
      margin-right: -1rem;
    }

    li {
      margin: 1rem;
    }
  }

  &__article-link {
    counter-increment: course;
    position: relative;

    &::before {
      content: counter(course);
      font-family: var(--font-base);
      font-weight: bold;
      padding: 0 10px;
      position: absolute;
      right: -30px;
      top: -30px;
    }

    &::before,
    &:hover::before {
      color: #33596d;
    }

    &:visited::before,
    &:hover:visited::before {
      color: var(--color-react);
    }
  }

  &__article-link--no-number::before {
    content: initial;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(180deg);
  }
}
