.site-header {
  margin-bottom: 3.75rem;
  padding-bottom: var(--spacing-sm);
  padding-top: var(--spacing-sm);

  &__logo {
    fill: currentColor;

    svg {
      @media (--viewport-sm-only) {
        height: 2.25rem;
        width: 3.125rem;
      }
    }
  }

  &__wrapper {
    flex-wrap: wrap;
    justify-content: center;

    @media (--viewport-md) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  &__right {
    margin-top: .9375rem;

    @media (--viewport-md) {
      margin-top: 0;
    }
  }
}
