.site-header {
  margin-bottom: 6rem;
  padding-bottom: var(--spacing-sm);
  padding-top: var(--spacing-sm);

  &__logo {
    fill: currentColor;

    svg {
      @media (--viewport-sm-only) {
        height: 36px;
        width: 50px;
      }
    }
  }

  &__wrapper {
    flex-wrap: wrap;
    justify-content: center;

    @media (--viewport-md) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  &__right {
    margin-top: 1.5rem;

    @media (--viewport-md) {
      margin-top: 0;
    }
  }
}
