.posts-feed {
  margin: 0 auto;

  &,
  &__title-wrapper {
    max-width: 60rem;
  }

  &__title-wrapper {
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 0 .875rem;
  }

  &__title {
    &__link {
      background-color: var(--color-secondary-dark);
      border-radius: .25rem;
      color: var(--color-background);
      line-height: 1;
      padding: .625rem .75rem;
      text-decoration: none;
      transition: color .123s, background-color .123s;

      &:hover {
        background-color: var(--color-background);
      }
    }
  }

  &__post {
    align-items: baseline;
    border-radius: .4rem;
    padding: .75rem 1rem;
    position: relative;

    @media (--viewport-sm-only) {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &:hover {
      .post__title {
        text-decoration: underline;
        text-decoration-color: var(--color-secondary);
      }
    }
  }

  .post {
    &__date {
      flex-shrink: 0;
      font-size: 1.1875rem;
      margin-right: 1rem;
      width: 4.375rem;
    }

    &__title {
      flex-grow: 1;
      font-size: 1.5rem;
      font-weight: 400;
      margin-bottom: 0;
    }

    &__link {
      border-radius: .25rem;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 50;
    }
  }
}
