.posts-feed {
  margin: 0 auto;
  max-width: 75rem;

  &__post {
    align-items: center;
    padding: 1.5rem 0;
    position: relative;

    @media (--viewport-sm-only) {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    & + & {
      border-top: 1px solid var(--color-light-gray);
    }

    &:hover {
      .post__title {
        text-decoration: underline;
        text-decoration-color: var(--color-secondary);
      }
    }
  }

  .post {
    &__date,
    &__duration {
      flex-shrink: 0;
      font-size: 1.9rem;
    }

    &__date {
      margin-right: 1.5rem;
      width: 7rem;
    }

    &__title {
      flex-grow: 1;
      font-size: 2.3rem;
      font-weight: 400;
      margin-bottom: 0;
      overflow: hidden;
      padding-right: 1rem;
      text-overflow: ellipsis;
      white-space: nowrap;

      @media (--viewport-sm-only) {
        margin-bottom: 1rem;
        order: -1;
        padding-right: 0;
        white-space: initial;
        width: 100%;
      }
    }

    &__link {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 50;
    }
  }
}
