code[class*=language-],
pre[class*=language-] {
  background: 0 0;
  color: #ccc;
  font-family: var(--font-code);
  font-size: 1.6rem;
  hyphens: none;
  line-height: 1.5;
  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

pre[class*=language-] {
  border: .2rem solid var(--color-secondary-dark);
  border-radius: .4rem;
  margin: 5rem 0;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  padding: 1em;
  position: relative;

  &::before {
    background-color: var(--color-secondary-dark);
    border-radius: 0 0 0 .4rem;
    color: #000;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0 .5rem;
    position: absolute;
    right: 0;
    top: 0;
  }

  /* stylelint-disable */
  &.language-js::before {
    content: 'JS';
  }

  &.language-html::before {
    content: 'HTML';
  }

  &.language-jsx::before {
    content: 'JSX';
  }

  &.language-css::before {
    content: 'CSS';
  }
  /* stylelint-enable */
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  background: #2d2d2d;
}

:not(pre) > code[class*=language-] {
  border-radius: .3em;
  padding: .1em;
  white-space: normal;
}

.token.block-comment,
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.attr-name,
.token.deleted,
.token.namespace,
.token.tag {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.function,
.token.number {
  color: #f08d49;
}

.token.class-name,
.token.constant,
.token.property,
.token.symbol {
  color: #f8c555;
}

.token.atrule,
.token.builtin,
.token.important,
.token.keyword,
.token.selector {
  color: #cc99cd;
}

.token.attr-value,
.token.char,
.token.regex,
.token.string,
.token.variable {
  color: #7ec699;
}

.token.entity,
.token.operator,
.token.url {
  color: #67cdcc;
}

.token.bold,
.token.important {
  font-weight: 700;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.highlight-line-active {
  background-color: #666;
}

.token.inserted {
  color: #080;
}
