.article__toc {
  margin-bottom: var(--spacing-md);
  padding: 0 .375rem;
  width: 100%;

  @media (--viewport-lg) {
    margin-bottom: 0;
    margin-left: auto;
    max-height: calc(-9.375rem + 100vh);
    max-width: 16.25rem;
    order: 1;
    overflow: auto;
    position: sticky;
    top: 9.375rem;
  }
}

.toc {
  &__anchor,
  &__item {
    display: block;
    font-size: 1rem;
    line-height: 1;
  }

  &__list {
    list-style: none;
    padding-left: 0;

    & & {
      margin-top: .625rem;
      padding-left: .5rem;

      .toc__anchor,
      .toc__item {
        font-size: 1rem;
      }
    }
  }

  &__anchor {
    text-decoration: none;

    @media (--viewport-lg) {
      opacity: .7;
      transition: opacity .3s;
    }

    &:focus,
    &:visited,
    &:hover {
      color: var(--color-text);
      opacity: 1;
    }

    &--active {
      &,
      &:focus,
      &:visited,
      &:hover {
        color: var(--color-accent);
      }
    }
  }

  &__item {
    margin-top: .625rem;
  }
}
